* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: lightblue;
}

.main-container {
display: flex;
align-items: center;
flex-direction: column;
gap: 50px;
padding: 20px;
}

.navbar {
    overflow: hidden;
    background-color: #333;
}

.navbar a {
    float: left;
    text-align: center;
    font-size: 16px;
    padding: 14px 16px;
    text-decoration: none;
    color: white;
}

.dropdown {
    float: left;
}

.dropdown .drop-button {
    border: none;
    font-size: 16px;
    padding: 14px 16px;
    background-color: #333;
    color: white;
}

.navbar a:hover, .dropdown:hover .drop-button {
    background-color: #f3b0bf;
}

.dropdown-info {
    display: none;
    position: absolute;
    background-color: whitesmoke;
    max-width: 500px;
    min-width: 105px;
    box-shadow: 0px 1px 10px 0px black;
}

.dropdown-info p {
    float: none;
    display: block;
    text-align: left;
    padding: 12px 16px;
    color: black;
}

.dropdown-info p:hover {
    background-color: lightgrey;
}

.dropdown:hover .dropdown-info {
    display: block;
}

#donut-count {
    font-size: 4rem;
    font-weight: bold;
    text-shadow: 0 0 20px #000;
    width: 100%;
    text-align: center;

}

img {
    height: 200px;
    width: 200px;
    padding: 20px;
    cursor: pointer;
}

button {
    cursor: pointer;
}

section {
    text-align: center;
    align-items: center;

}

#footer {
    margin: 0;
    text-align: center;
    background-color: lightblue;
    width: 100%;
    height: 1.5rem;
}